.menu {
  display: flex;
  flex-direction: row;
  width: get-vw(1560px);
  margin: 0;
  padding: 0;
  padding-left: get-vw(20px);
  list-style: none;
  background-color: #ffffff;
}

.menu__item {
  .menu__link {
    display: block;
    margin: 0;
    padding: 0;
    padding-left: get-vw(20px);
    padding-right: get-vw(20px);
    padding-top: get-vw(20px);
    padding-bottom: get-vw(20px);
    color: #000000;
    font-family: "Museo Sans Cyrl", "Arial", sans-serif;
    font-size: get-vw(15px);
    line-height: get-vw(18px);
    font-weight: 100;
    text-decoration: none;
  }
}
