@function get-vw($target) {
  $vw-context: (1920*.01) * 1px;
  @return ($target/$vw-context) * 1vw;
}

@font-face {
  font-weight: 100;
  font-family: "Museo Sans Cyrl";
  font-style: normal;
  font-display: swap;
  src: url("../fonts/MUSEOSANSCYRL_0.otf") format("otf");
}

@font-face {
  font-weight: 300;
  font-family: "Museo Sans Cyrl";
  font-style: normal;
  font-display: swap;
  src: url("../fonts/MUSEOSANSCYRL_1.otf") format("otf");
}

@font-face {
  font-weight: 500;
  font-family: "Museo Sans Cyrl";
  font-style: normal;
  font-display: swap;
  src: url("../fonts/MUSEOSANSCYRL_2.otf") format("otf");
}

@font-face {
  font-weight: 700;
  font-family: "Museo Sans Cyrl";
  font-style: normal;
  font-display: swap;
  src: url("../fonts/MUSEOSANSCYRL_3.otf") format("otf");
}

@font-face {
  font-weight: 300;
  font-family: "Museo Sans Cyrl";
  font-style: normal;
  font-display: swap;
  src: url("../fonts/MUSEOSANSCYRL.otf") format("otf");
}

@font-face {
  font-weight: 100;
  font-family: "Appetite new";
  font-style: normal;
  font-display: swap;
  src: url("../fonts/Appetite_New.otf") format("otf");
}

body {
  display: flex;
  flex-direction: column;
  min-width: get-vw(320px);
  margin: 0;
  padding: 0;
  height: 100vw;
  width: 100vw;
  font-family: "Museo Sans Cyrl", "Arial", sans-serif;
  font-style: normal;
  font-size: get-vw(15px);
  color: #000000;
  background-image: url('../img/Фон.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.mobile-button {
  display: none;
}

.button-pink {
  position: relative;
  display: block;
  width: get-vw(390px);
  color: #ffffff;
  font-family: "Museo Sans Cyrl", "Arial", sans-serif;
  font-weight: 100;
  font-size: get-vw(14px);
  text-transform: uppercase;
  border: none;
  border-radius: 25px;
  background: linear-gradient(#f8b5b5, #f2959a);
  box-shadow: 0px -3px 0px inset #f08c92,
              0px 3px 0px #d7747a;

  &::before {
    position: absolute;
    display: block;
    content: "";
    top: 0;
    left: get-vw(255px);
    width: get-vw(320px);
    height: get-vw(80px);
    background-image: url('../img/branch.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  &:hover {
    cursor: pointer;
  }
}
