.services {
  position: relative;
  margin-left: get-vw(115px);
}

.clientcard-hover {
  display: none;
}

.card-button {
  position: absolute;
  display: block;
  bottom: get-vw(55px);
  left: get-vw(736px);
  width: get-vw(35px);
  height: get-vw(35px);
  margin: 0;
  padding: 0;
  padding-left: get-vw(8px);
  border: none;
  border-radius: 50%;
  background: linear-gradient(#f8b5b5, #f2959a);
  box-shadow: 1px 1px 0px #d7747a;

  span {
    display: block;
    width: get-vw(23px);
    height: get-vw(23px);
    margin: 0;
    margin-left: get-vw(-2px);
    padding: 0;
    background-image: url('../img/i.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }

  &:hover {
    cursor: pointer;

    &::after {
      position: absolute;
      display: block;
      content: "";
      bottom: 0;
      left: 0;
      width: get-vw(23px);
      height: get-vw(23px);
      margin: 0;
      padding: 0;
      padding-right: get-vw(2px);
      padding-left: get-vw(10px);
      padding-top: get-vw(6px);
      padding-bottom: get-vw(6px);
      border: none;
      border-radius: 50px;
      box-shadow: 1px 1px 0px #d7747a;
      background:
        url('../img/i.png'),
        linear-gradient(#f8b5b5, #f2959a);
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
    }

    > .clientcard-hover {
      display: block;
      position: absolute;
      bottom: get-vw(14px);
      left: get-vw(20px);
      width: get-vw(115px);
      height: get-vw(160px);
      margin: 0;
      padding: 0;
      padding-left: get-vw(30px);
      padding-right: get-vw(30px);
      padding-bottom: get-vw(30px);
      padding-top: get-vw(25px);
      background-color: #ffffff;
      border-radius: 45% 45% 5px 5px / 10% 10% 5px 5px;
      box-shadow: 5px -5px 0px rgba(255, 255, 255, 0.3);
      overflow: hidden;
    }
  }
}

.clientcard-hover__text {
  display: block;
  height: get-vw(160px);
  width: get-vw(115px);
  margin: 0;
  padding: 0;
  font-family: "Museo Sans Cyrl", "Arial", sans-serif;
  font-weight: 100;
  font-size: get-vw(14px);
}

.services__question {
  display: block;
  width: get-vw(650px);
  margin: 0;
  margin-bottom: get-vw(50px);
  padding: 0;
  font-family: "Museo Sans Cyrl", "Arial", sans-serif;
  font-weight: 300;
  font-size: get-vw(44px);
}

.services__list {
  display: block;
  width: get-vw(520px);
  margin: 0;
  margin-bottom: get-vw(50px);
  padding: 0;
  list-style: none;

  .services__item {
    display: block;
    margin: 0;
    padding: 0;
    padding-left: get-vw(40px);
    font-family: "Museo Sans Cyrl", "Arial", sans-serif;
    font-weight: 100;
    font-size: get-vw(18px);
    line-height: get-vw(36px);

    .pink-dot {
      
    }
  }
}

.services-button {
  position: relative;
  display: block;
  width: get-vw(390px);
  margin: 0;
  padding: 0;
  padding-left: get-vw(45px);
  padding-right: get-vw(165px);
  padding-top: get-vw(25px);
  padding-bottom: get-vw(25px);
  color: #ffffff;
  font-family: "Museo Sans Cyrl", "Arial", sans-serif;
  font-weight: 100;
  font-size: get-vw(14px);
  text-transform: uppercase;
  border: none;
  border-radius: 25px;
  background: linear-gradient(#f8b5b5, #f2959a);
  box-shadow: 0px -3px 0px inset #f08c92,
              0px 3px 0px #d7747a;

  &::before {
    position: absolute;
    display: block;
    content: "";
    top: 0;
    left: get-vw(255px);
    width: get-vw(320px);
    height: get-vw(80px);
    background-image: url('../img/branch.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
}
